<h1>Give us a moment to place something here, if you don't mind.</h1>
</br>
<h3>Dementiahack 2017 - Team Living Lab</h3>
</br>
<h3><a href="http://twitter.com/greencarelabs">Hey!  We're on Twitter!</a></h3>
</br>
<h3>Last API Submission at: <%= Test.last.created_at.in_time_zone("Eastern Time (US & Canada)") %></h3>
</br>
<h3><a href="https://www.fitbit.com/oauth2/authorize?response_type=token&client_id=228BV4&redirect_uri=http%3A%2F%2Fgreencarelabs.com%2Ffitbit_auth&scope=activity%20heartrate%20location%20&expires_in=604800">Authorize Fitbit</a></h3>